body {
  background: #f4f6f8;
  color: #333;
  min-height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background: #333;
  color: white;
  padding: 1rem 0;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* Dashboard layout */
.dashboard {
  flex: 1;
  display: flex;
  margin: 20px 0;
  gap: 20px;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 40px);
  position: sticky;
  top: 20px;

}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: black;
  text-align: center;
  font-weight: bold;

}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  display: block;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
  background: gray;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .stats {
    flex-direction: column;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}





/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 30px 0;
  margin-top: 50px;
}